#folder-view {
  th.folder-view-name-column {
    width: 100%;
  }
}

.folder-view-row-selected {
  background-color: var(--pf-v5-c-card--m-selectable--m-selected--BackgroundColor);
}

.item-button {
    color: var(--pf-v5-global--Color--200);
}

.directory-item, .file-item {
    // Align icon and text in icon mode
    .pf-v5-l-gallery & .pf-v5-c-card__header-main {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0;
    }

    // Align icon and text in list mode
    .ct-table & .pf-v5-c-card__header-main {
        justify-content: start !important;
        gap: var(--pf-v5-global--spacer--sm);
    }

    // Limit to 3 vertical lines and add ellipsis at the end when needed.
    // (Sadly, there's no way to truncate in the middle, except via a PF
    // component... but that doesn't allow wrapping and clamping line height.)
    .pf-v5-c-card__title-text {
        // Yes, all browsers support line-clamp with the webkit prefix. No
        // browser supports it unprefixed. All browsers require a display of
        // -webkit-box and -webkit-box-orient as well. It's one of the few
        // prefixed attributes that's so well supported and still needed.
        display: -webkit-box; /* stylelint-disable-line value-no-vendor-prefix */
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        overflow-wrap: anywhere;
        // Wrapping should be more balanced (new; not supported everywhere yet)
        text-wrap: balance;
    }
}

.directory-item {
    --icon-color: var(--pf-v5-global--link--Color--light);

    &:is(:hover,.pf-m-selected) {
        --icon-color: var(--pf-v5-global--link--Color);
    }

    .pf-v5-theme-dark & {
        --icon-color: var(--pf-v5-global--link--Color--dark);
    }

    .pf-v5-theme-dark &:is(:hover,.pf-m-selected) {
        --icon-color: var(--pf-v5-global--link--Color--dark--hover);
    }
}

.file-item {
    --icon-color: var(--pf-v5-global--palette--black-400);

    &:is(:hover,.pf-m-selected) {
        --icon-color: var(--pf-v5-global--palette--black-500);
    }

    .pf-v5-theme-dark & {
        --icon-color: var(--pf-v5-global--palette--black-400);
    }

    .pf-v5-theme-dark &:is(:hover,.pf-m-selected) {
        --icon-color: var(--pf-v5-global--palette--black-300);
    }
}

.directory-item, .file-item {
     svg > path {
        fill: var(--icon-color);
    }
}
